<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="url" value="aaaa"/>
    <add key="username" value="bbbbb"/>
    <add key="password" value="ccccccc"/>
    <add key="meta" value="ddddddd"/>
    <add key="jiraProject" value="eeeeee"/>
  </appSettings>

</configuration>
