<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  
  <!--
  <appSettings>
    <add key="url" value="URL to JIRA site"/>
    <add key="username" value="our username"/>
    <add key="password" value="our password"/>
    <add key="timeout" value="timeout in milliseconds for jira connections"/>
    <add key="meta" value="The string that our code uses to recognise our files"/>
    <add key="jiraProject" value="our JIRA project identifier"/>
    <add key="cf_exceptionmessage" value="we have a custom field for exception message"/>
    <add key="cf_exceptionstacktrace" value="we have a custom field for exception stacktrace"/>
  </appSettings>
  

</configuration>
